h1 {
    text-align:center;
}

#time {
    text-align:center;
}

textarea {
    width: 100%;
  }

.clearBtn {
    text-align:center;
}

.present {
    background-color:blue;
    color:red;
  }

.future {
    background-color:green;
    color:red;
}